venv
.idea
*.pyc
__pycache__/
*.ipynb_checkpoints
*.vscode
*.grib
*.idx
*.csv
*.html
*kitchen*
**/build
**/source
kitchen_et0_calculation.py
medgu_barcelone_data_processing.py
medgu_barcelone_ml_beat_hs_magnus.ipynb
